registry=https://registry.npmjs.org/

# GitHub Packages registry for @redotlabs scope
@redotlabs:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${REDOT_PAT}

# Dedupe React to prevent multiple copies
dedupe-peer-dependents=true

public-hoist-pattern[] = @redotlabs/*
public-hoist-pattern[] = *eslint*
public-hoist-pattern[] = @types/*

use-node-fetcher=false

# AWS Amplify에 Turborepo를 pnpm으로 배포하려면 해당 옵션이 필요해요.
# https://docs.aws.amazon.com/ko_kr/amplify/latest/userguide/monorepo-configuration.html
node-linker=hoisted
