---
import BrandLayout from '../layouts/BrandLayout.astro';
import { Logo as RedotLogo } from '@redotlabs/ui';
---
<BrandLayout title="redot BRAND | 리닷 브랜드 로고">
  <div class="flex flex-col gap-6">
    <h1 class="text-[24px] font-semibold">리닷 브랜드 로고</h1>
    <p class="mt-2 text-[16px] text-(--text-secondary)">리닷의 심볼과 로고타입이 합쳐진 브랜드 로고입니다. <br>
      가이드라인을 참고하여 색상과 크기를 비율대로 조정하여 사용할 수 있습니다.</p>

    <div class="flex items-center justify-center rounded-2xl border border-[#549DFF] px-13 py-25">
      <RedotLogo client:load className="h-32 w-auto" />
    </div>

    <section class="mt-12">
      <h1 class="text-[24px] font-semibold">로고 가이드</h1>
      <div class="mt-3 flex items-center justify-center rounded-2xl border border-[#549DFF] px-13 py-25">
        <img src="/assets/logo-guide.svg" alt="로고 그리드" />
      </div>
    </section>

    <section class="mt-12">
      <h1 class="text-[24px] font-semibold">브랜드 로고 모션</h1>
      <p class="mt-2 text-(--text-secondary)">리닷 브랜드 로고의 모션입니다. 
        <br> 요소들이 하나로 모여 돌아가는 바람개비를 형상화하였습니다. 
      </p>
      <div class="mt-5 flex min-h-50 items-center justify-center rounded-2xl border border-[#549DFF] px-13 py-25"></div>
    </section>

    <section class="mt-12">
      <h1 class="text-[24px] font-semibold">리닷 심볼과 배리에이션</h1>
      <p class="mt-2 text-(--text-secondary)">리닷의 심볼과 로고 배리에이션입니다. 
        <br> 상황에 따라 규정 안에서 선택 후 사용 가능합니다.
      </p>
      <div class="mt-5 grid grid-cols-[repeat(auto-fit,minmax(160px,1fr))] gap-6">
        <div class="flex flex-col items-center gap-3 text-[12px]">
          <div class="flex aspect-square w-full items-center justify-center rounded-[20px] border border-[#549DFF]  p-8">
            <RedotLogo.Symbol client:load variant="base" className="h-full w-full" />
          </div>
          <span class="rounded-full bg-[#efefef] px-4 py-1 text-[12px] text-[#111]">default</span>
        </div>
        <div class="flex flex-col items-center gap-3 text-[12px]">
          <div class="flex aspect-square w-full items-center justify-center rounded-[20px] border border-[#549DFF]  p-8">
            <RedotLogo.Symbol client:load variant="solid" className="h-full w-full" />
          </div>
          <span class="rounded-full bg-[#efefef] px-4 py-1 text-[12px] text-[#111]">solid</span>
        </div>
        <div class="flex flex-col items-center gap-3 text-[12px]">
          <div class="flex aspect-square w-full items-center justify-center rounded-[20px] border border-[#549DFF]  p-8">
            <RedotLogo.Symbol client:load variant="3d" className="h-full w-full" />
          </div>
          <span class="rounded-full bg-[#efefef] px-4 py-1 text-[12px] text-[#111]">3D</span>
        </div>
      </div>
      <div class="mt-5 grid grid-cols-[repeat(auto-fit,minmax(220px,1fr))] gap-6">
        <div class="flex flex-col items-center gap-3 text-[12px]">
          <div class="flex h-37 w-full items-center justify-center rounded-2xl border border-[#549DFF]  p-6">
            <RedotLogo client:load className="h-full w-full" />
          </div>
          <span class="rounded-full bg-[#efefef] px-4 py-1 text-[12px] text-[#111]">default</span>
        </div>
        <div class="flex flex-col items-center gap-3 text-[12px]">
          <div class="flex h-37 w-full items-center justify-center rounded-2xl border border-[#549DFF]  p-6">
            <RedotLogo client:load color="mono" className="h-full w-full text-[#0b0d13]" />
          </div>
          <span class="rounded-full bg-[#efefef] px-4 py-1 text-[12px] text-[#111]">mono</span>
        </div>
      </div>
      <div class="mt-5 grid grid-cols-[repeat(auto-fit,minmax(220px,1fr))] gap-6">
        <div class="flex flex-col items-center gap-3 text-[12px]">
          <div class="flex h-37 w-full items-center justify-center rounded-2xl border border-[#549DFF] bg-[#3a79ee] p-6 text-white">
            <RedotLogo client:load color="mono" className="h-full w-full text-white" />
          </div>
          <span class="rounded-full bg-[#efefef] px-4 py-1 text-[12px] text-[#111]">background_blue</span>
        </div>
        <div class="flex flex-col items-center gap-3 text-[12px]">
          <div class="flex h-37 w-full items-center justify-center rounded-2xl border border-[#549DFF] bg-[#0b0d13] p-6 text-white">
            <RedotLogo client:load color="mono" className="h-full w-full text-white" />
          </div>
          <span class="rounded-full bg-[#efefef] px-4 py-1 text-[12px] text-[#111]">background_black</span>
        </div>
      </div>
    </section>

    <section class="mt-12">
      <h1 class="text-[24px] font-semibold">리닷 협력사 표기</h1>
      <p class="mt-3 text-(--text-secondary)">리닷의 심볼과 로고타입이 합쳐진 브랜드 로고입니다. 
        <br> 가이드라인을 참고하여 색상과 크기를 비율대로 조정하여 사용할 수 있습니다.
      </p>
      <div class="mt-3 flex items-center justify-center rounded-2xl border border-[#549DFF] px-13 py-25">
        <img src="/assets/partner.svg" alt="협력사 로고" />
      </div>
    </section>
  </div>
</BrandLayout>
