@import 'tailwindcss';
@config '../../tailwind.config.ts';
@source '../../node_modules/@redotlabs/ui';

html,
body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db90 transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db90;
  border-radius: 9999px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
}